In [14]:
import pandas as pd
from pathlib import Path

In [2]:
# Setting up the Dataframe
file_path = "https://raw.githubusercontent.com/ComfyKoala/diabetes-classification/main/JV/Resources/diabetes_dataset.csv"

dm_pd = pd.read_csv(file_path)

dm_pd.head()

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0

In [10]:
# Establish a midpoint on where to split the data
midpoint = len(dm_pd) // 2

# Split the DataFrame into two halves
df_first_half = dm_pd.iloc[:midpoint]
df_second_half = dm_pd.iloc[midpoint:]

In [11]:
df_first_half.shape

(50000, 16)

In [12]:
df_second_half.shape

(50000, 16)

In [15]:
# Establish Path to save
path_1 = Path('Resources/first_half.csv')
path_2 = Path('Resources/second_half.csv')

# Save each half to a CSV file
df_first_half.to_csv(path_1, index=False)
df_second_half.to_csv(path_2, index=False)